<div class="jumbotron">
  <h1>About</h1>
  <div class="row">
    <div class="col-xs-5">
      <p>Our fine smoked cheese, sausage, and homemade Swiss-style chocolate is certain to tickle your fancy.  Know that guy who has everything?  This is the perfect gift!</p>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
      <p>Our chocolate is made by real oompa-loompas and our sausage is made of real oompa-loompas.</p>
    </div>
  </div>
</div>

<section>
  <div class="row text-justify">
    <h1 >Meet the Team</h1>
    <div class="col-xs-3"><%= image_tag "scorpio.gif", class: "img-responsive img-rounded" %><h2>Hank Scorpio</h2><p>Mr. Scorpion is world-renowned for his hyper-systems.  If you'd like to kill someone on the way out, that would be extremely helpful.  Keeps sugar in pockets, similar to Dale Gribbel who keeps sand in his pockets.'</p></div>
    <div class="col-xs-3"><%= image_tag "Haig-in-88.png", class: "img-responsive img-rounded" %><h2>Alexander Haig</h2><p>Alexander Haig was in charge when Reagan got shot.</p></div>   
    <div class="col-xs-3"><%= image_tag "Homer_Cigarettes.jpg", class: "img-responsive img-rounded" %><h2>Homer Simpson</h2><p></p></div>   
    <div class="col-xs-3"><%= image_tag "homer_team.jpg", class: "img-responsive img-rounded" %><h2>Team</h2><p></p></div>
  </div>
</section>