<h1>Home</h1>

<div class="row">
<div class="col-xs-9" >  
<div id="carousel-example-generic" class="carousel" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "globex-globe.jpg", class: "img-responsive img-rounded" %>
      <div class="carousel-caption">
        Stand with Hank Scorpio as he leads us forward.
      </div>
    </div>
    <div class="item">
      <%= image_tag "globex_campus.jpg", class: "img-responsive img-rounded" %>
      <div class="carousel-caption">
        Work with us at our beautiful campus!
      </div>
    </div>
    <div class="item">
      <%= image_tag "scorpio_with_bont.jpg", class: "img-responsive img-rounded" %>
      <div class="carousel-caption">
        Help us rid the world of terrorism.
      </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
</div>


<div >
  <h3 id="adv_systems">Advanced Systems</h3>
  <p>Globex provides market leading technologies to customers.  With the help of our partners in in the <a class="top-tool" title="secret government organization" rel="tooltip">NSA</a>, we offer unparalleled <a class="top-tool" title="buzzword">synergy</a> in information technology leading practices.</p>
  

  <h3 id="off_solutions">Office Solutions</h3>
  <p>Today's inspirations are tomorrow's <a class="top-tool" title="buzzwords">paradigm shifts</a>.  Globex provides
    market-tested, socially-responsible, fiscally-sustainable office solutions to help your company compete in an increasingly <a class="top-tool" title="Thomas Friedman">globalized marketplace</a>.</p>

  <h3 id="org_crime">Organized Crime</h3>
  <p>Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of c<a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints of <a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.</p>
  </div>
  

  <h3 id="para-5">Office Solutions</h3>
  <p>Today's inspirations are tomorrow's <a class="top-tool" title="buzzwords">paradigm shifts</a>.  Globex provides
    market-tested, socially-responsible,<a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints<a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints<a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints<a class="top-tool" title="scrubs">legitimate business</a> dealing to be too confining.  Our "black wing" will help you overcome cumbersome and unnecessary government regulations.Many of our clients feel the constraints fiscally-sustainable office solutions to help your company compete in an increasingly <a class="top-tool" title="Thomas Friedman">globalized marketplace</a>.</p>
  
  
</div>


<div class="row col-xs-3" style='position: relative;'>
  <div class="sidebar navbar-default" id="navbar" style='position:fixed;'>
    <ul class="nav nav-pills" role="tablist">
      <p><li><a href="#adv_systems">Advanced Systems</a></li></p>
      <p><li><a href="#off_solutions">Office Solutions</a></li></p>
      <p><li><a href="#org_crime">Organized Crime</a></li></p>
      <p><li><a href="#para-5">sectino 5</a></li></p>
    </ul>
  </div>
</div>

<script>
  $('.top-tool').tooltip({placement: 'top'});
  $('body').scrollspy({target: '#navbar'})
</script>

